/* Default colors for list views.*/
.row1 li {
    background-color: rgba(124, 124, 124, 0.02);
}

.row1 .rowTitle {
    background-color: rgba(124, 124, 124, 0.19);
    
}

.row2 li {
    background-color: rgba(168, 188, 210, 0.10);
}

.row2 .rowTitle {
    background-color: rgba(168, 188, 210, 0.46);
}

a {
    color: #383838;
}

a:hover {
    color: #383838;
}

.filled {
  background: rgba(24, 153, 9, 0.67);
}

/* Order List CSS */
.orderDetailList .btn {
    border: 3px solid #E0E0E0;
    background: #EDEDED;
    font-weight: 700;
    letter-spacing: 1px;
}

.order-spacer {
    margin: .5em .05em;
}
 
.orderDetailList .filled {
    background: rgba(24, 153, 9, 0.67);
    border: 3px solid rgba(24, 153, 9, 0.67);
}

.control-label {
  vertical-align:middle!important;
}

.table td, .table th {
   text-align: center;   
}
