{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}About{% endblock %}
{% block content %}
<script>
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);
        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 1100, 'swing', function () {
            window.location.hash = target;
        });
    });
  });
</script>

<div class=container>
  <div class="jumbotron">
    <h3>{{business.business_name}}</h3>
    <p><small>{{business.tagline}}</small></p>
    {% if business.picture %}
    <div class= "text-center">
      <a class="btn btn-primary btn-lg my-button" href="#business-photo" role="button"> Learn More </a>
    </div>
    {% elif business.about %}
    <div class= "text-center">
      <a class="btn btn-primary btn-lg my-button" href="#business-about" role="button"> Learn More </a>
    </div>
    {% endif %}
  </div>


  <div class=container>
    <ul class="list-group">
      <h4>Contact</h4>
      {% for field, info in contacts.items %}
        <li class="list-group-item">
          <strong>{{field}}:</strong> {{info}}
        </li>
      {% empty %}
        <li class="list-group-item"> No contact info available :( </li>
      {% endfor %}
    </ul>
    {% if user.is_authenticated %}
      <hr/>
      <h3>Place An Order</h3>
      {% include 'orders/orderform.html' with form=form formset=formset buttontext='Submit' thanks=thanks %} 
    {% endif %}
  </div>

  <div class="space-div"></div>

  {% if business.picture %}
  <div class="jumbotron" id="business-photo">
    <img src="{{ business.picture.image.url }}">
  </div>
  {% endif %}
  
  <div class="space-div"></div>
  
  {% if business.about %}
  <div class="jumbotron" id="business-about">
    <p class="lead">{{business.about}}</p>
  </div>
  {% endif %}
 
  {% if business.catalog %}
  <div class="jumbotron" id="business-catalog">
    <p class="lead">{{business.about}}</p>
  </div>
  {% endif %}
  
</div>


{% endblock %}

