{% extends 'list.html' %}
{% load bootstrap3 %}

{% block title %}Orders{% endblock %}
<label class="list-group-item btn  btn-success orderItem {% cycle 'row1' 'row2' %}"></label>
{% block itemTitle %}
    <h2><a href="{% url 'orders:about' item.business.account.slug %}">{{ item.business.business_name }}</a></h2>
    <p>{{ item.notes }}</p>
    <button type="submit" class="btn btn-primary btn-group-justified" action="" method="POST"> Order Delivered!</button>
{% endblock %}

{% block itemContent %}
  <table class="table orderDetailList {{item.status}}">
  {% for form in item.orderItemFormset %}
    {% if forloop.first %}
    <thead>
      <tr>
      {% for field in form.visible_fields %}
        <th>{{ field.label}}</th>
      {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tr>
      {% for field in form.visible_fields %}
          <td>{{ field}}</td>
      {% endfor %}
    </tr> 
  {% endfor %} 
  </table>
{% endblock %}
