{% extends 'list.html' %}
{% load bootstrap3 %}

{% block title %}Orders{% endblock %}
<label class="list-group-item btn  btn-success orderItem {% cycle 'row1' 'row2' %}"></label>
{% block itemTitle %}
    <h2><a href="{% url 'orders:about' item.business.account.slug %}">{{ item.business.business_name }}</a></h2>
    <p>{{ item.notes }}</p>
    <button type="submit" class="btn btn-primary btn-group-justified" action="" method="POST"> Order Delivered!</button>
{% endblock %}

{% block itemContent %}
<form action="" method="post">{% csrf_token %}
  {{ item.orderItemFormset.management_form }}
  <table class="table orderDetailList {{item.status}}">
  {% for form in item.orderItemFormset %}
    {% if forloop.first %}
    <thead>
      <tr>
      {% for field in form.visible_fields %}
        <th>{{ field.label}}</th>
      {% endfor %}
      </tr>
    </thead>
    {% endif %}
    <tr class="orderItem">
      {% for field in form.visible_fields %}
          <td>{{ field}}</td>
      {% endfor %}
  {% endfor %}
      <td>
        <button type="submit" class="btn btn-success btn-group-justified" action="" method="POST"> Save Changes</button>
      </td>
    </tr>  
  </table>
<form>
{% endblock %}

{% block etc %}
<div class='row'>
  
</div>

<script>
$(document).ready(function(){
  $('input:checked').parent().parent().addClass('filled');
  $('input').change(function() {
    if ($(this).is(':checked')) {
      $(this).parent().parent().addClass('filled');
    }
    else {
      $(this).parent().parent().removeClass('filled');
    }
  });
});
</script>
{% endblock %}
